<!DOCTYPE HTML>

<html>
    <head>
        <title>Asistencia Unu - Inicio de Sesion</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="assets/css/main.css" />
        <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
        <link href="css/login.css" rel="stylesheet" type="text/css"/>
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <script src="js/bootstrap.min.js" type="text/javascript"></script>
        <script src="js/sweetalert.js" type="text/javascript"></script>
        <script src="js/vue.js" type="text/javascript"></script>
        <script src="js/axios.js" type="text/javascript"></script>
        <script src="app/config.js" type="text/javascript"></script>
    </head>
    <body class="is-preload">

        <!-- Page Wrapper -->
        <div id="app">

            <!-- Header -->
            <header id="header">
                <h1><a href="index.html">ASISTENCIA UNU</a></h1>
                
            </header>

            <!-- Main -->
            <article id="main">

                <section class="wrapper style5 special">
                    <div class="inner">
                        <section id="three">
                            <div class="inner" >



                                <h3 style="color: black">ACCESO AL SISTEMA</h3>
                                <section >
                                    <form method="post" action="#" v-on:submit.prevent="login" >

                                        <div class="row special" style="display: block;" >

                                            <div class="col-12 align-center" >
                                                <label>USUARIO:</label>
                                                <input type="text" id="user" v-model='user' placeholder="Dni de Docente" />
                                            </div>

                                            <div class="col-12 align-center">
                                                <label>CONTRASEÑA:</label>
                                                <input type="password" id="pass" v-model="pass" value="" placeholder="Contraseña" />
                                            </div>

                                        </div>
                                        <br>
                                        <div class="col-12 mt-2" >
                                            <button type="submit" class="button primary icon solid fa-user">INICIAR SESION</button><br><br>
                                            <button type="reset" class="button  icon solid fa-clone">LIMPIAR</button>

                                        </div>
                                    </form>
                                </section>





                            </div>
                        </section>

                    </div>
                </section>
            </article>

            <!-- Footer -->
            <footer id="footer">

                <ul class="copyright">
                    <li>&copy; ASISTENCIA UNU</li><li>Design: <a href="http://html5up.net">DaHe</a></li>
                </ul>
            </footer>

        </div>

        <!-- Scripts -->
        <script src="app/login.js" type="text/javascript"></script>
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/jquery.scrollex.min.js"></script>
        <script src="assets/js/jquery.scrolly.min.js"></script>
        <script src="assets/js/browser.min.js"></script>
        <script src="assets/js/breakpoints.min.js"></script>
        <script src="assets/js/util.js"></script>
        <script src="assets/js/main.js"></script>

    </body>
</html>